# Python
.venv/
__pycache__/
*.pyc
.coverage
coverage.xml
htmlcov/

# Node/CDK
infra/node_modules/
infra/dist/
infra/cdk.out/
infra/coverage/

# Local Config
.idea
/.vscode/settings.json
infra/bin/infra.d.ts
.gitignore
infra/bin/infra.js
infra/lib/infra-stack.d.ts
infra/lib/infra-stack.js
reports/
build-agents/
