repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.7.4
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.4.0
    hooks:
      - id: no-commit-to-branch
        args: ['--branch', 'main']

  - repo: local
    hooks:
      - id: prettier
        name: prettier
        entry: bash -c 'cd infra && npm run prettier'
        language: system
        files: ^infra/.*\.(js|ts|json|md|yaml|yml)$
        pass_filenames: false